<div>
	This is the home page
</div>
<div ng-repeat="story in stories">
	<h2>{{story.date}}</h2>
	<div ng-bind-html="story.text"></div>
	<button type="button" class="btn btn-default" ng-click="removeStory(story)" confirm="Are you sure?">Remove</button>
</div>
<div ng-if="!showButton">
	<div text-angular ng-model="post.text"></div>
	<button type="button" class="btn btn-default" ng-click="appendStory()" confirm="Are you sure?">Add new post</button>
	<pre>{{examplePost}}</pre>
	<pre>{{stories}}</pre>
</div>