        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <h1>Welcome to Global to Local!</span></h1>
        </div>
        <form>
            <input type="text" ng-model="admin.username" /> 
            <input type="text" ng-model="admin.password" /> 
            <button type="button" class="btn btn-default" ng-click="ifAdmin()" >I am an admin</button>
        </form>
        <button type="button" class="btn btn-default" ng-click="ifUser()" >I am a user</button>
        