<!-- HEADER AND TODO COUNT -->
<style>

    .border {
        border: 1px solid black;
    }

    .staff {
        border: 5px solid #d7d7d7;
    }


    #boardDirectors .row {
        margin-top: 1em;

    }

    #banner {
        margin-top: -500px;
        background-image: url("http://static1.squarespace.com/static/54d819e7e4b07462f19ff281/t/54e41918e4b0c276fdf5a642/1424234781037/office-desk-background-2.jpg?format=1500w");
        height: 844px;
    }



/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 400px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("http://static1.squarespace.com/static/54d819e7e4b07462f19ff281/t/54e41918e4b0c276fdf5a642/1424234781037/office-desk-background-2.jpg?format=1500w");
}
section.module.parallax-2 {
  background-image: url("http://static1.squarespace.com/static/54d819e7e4b07462f19ff281/t/54e41918e4b0c276fdf5a642/1424234781037/office-desk-background-2.jpg?format=1500w");
}
section.module.parallax-3 {
  background-image: url("http://static1.squarespace.com/static/54d819e7e4b07462f19ff281/t/54e41918e4b0c276fdf5a642/1424234781037/office-desk-background-2.jpg?format=1500w");
}
@media all and (min-width: 400px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
  section.module.parallax h3 {
    font-size: 30px;
  }   
} 

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
  section.module.parallax h3 {
    font-size: 50px;
  }  
}

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
  section.module.parallax h3 {
    font-size: 60px;
  }   
}    

  h4  small, h3 small {
    color: #999999;    
  }

</style>

<div style="margin-top: -37px">
  <section class="module parallax parallax-1">
    <div class="container">
      <h3>Board of Directors</h3>
    </div>
  </section>

  <section class="module content">
  <div class="container-fluid text-center" id="boardDirectors">
      <div class="row">
          <div class="col-md-3 col-sm-5">
                  <!-- img size 233 -->
                  <img class="img-circle staff" src="https://www.vbs.org/sites/default/files/uploaded_images/About_images/rabbi_feinstein.jpg">
                  </img>
          </div>
          <div class="col-md-6 col-sm-6">
              <div class="page-header">
                  <h1>President</h1>
              </div>         
                  <h4>Dan Dixen <small>Providence Health & Services</small></h4>
          </div>    
      </div>
      
      <div class="row">
          <div class="col-md-3 col-sm-5">
                  <!-- img size 233 -->
                  <img class="img-circle staff" src="http://www.travelclick.com/sites/default/files/leadership/Jeff_Steuk_120x120.jpg">
                  </img>
          </div>
          <div class="col-md-6 col-sm-6">
              <div class="page-header">
                  <h1>Vice President</h1>
              </div>         
              <h4>Dr. David Fleming <small>PATH</small></h4>
          </div>    
      </div>
  </div>
  </section>

  <section class="module parallax parallax-2">
    <div class="container">
      <h3>The Team</h3>
    </div>
  </section>

  <section class="module content">
  <div class="container-fluid text-center" id="boardDirectors">
      <div class="row">
          <div class="col-md-3 col-sm-5">
                  <!-- img size 233 -->
                  <img class="img-circle staff" src="http://www.secoradentistry.com/images/Stephanie[1].jpg">
                  </img>
          </div>
          <div class="col-md-6 col-sm-6">
              <div class="page-header">
                  <h3>Ann Ngo <small>Office Manager</small></h3>
              </div>

                  <p>Prior to joining Global to Local in September of 2013, Ann worked in administrative departments at various community health and immigrant nonprofit organizations in Seattle and Washington state.<br><br>Ann graduated from the University of Washington with degrees in Public Health and English. She earned a Master of Public Health degree from Portland State University.</p>            
          </div>    
      </div>
      
      <div class="row">
          <div class="col-md-3 col-sm-5">
                  <!-- img size 233 -->
                  <img class="img-circle staff" src="http://www.dagleyins.com/wp-content/uploads/2015/02/RobbieHeadshotcrop.jpg">
                  </img>
          </div>
          <div class="col-md-6 col-sm-6">
              <div class="page-header">
                  <h3>Adam Taylor <small>Executive Director</small></h3>
              </div>

                  <p>Adam Taylor joined Global to Local in May of 2010 and is responsible for the overall management of the organization.  Adam previously worked as a Project Manager for the Grameen Technology Center on the Ugandan-based Community Knowledge Worker project, which leverages the power of mobile phones to help small-holder farmers access important information such as market prices.  From 2005-2007, Adam served as Program Manager for Catholic Relief Services in Madagascar.<br><br>He graduated from the University of Washington, Evans School of Public Affairs with a Master of Public Administration.</p>            
          </div>    
      </div>
  </div>
  </section>
</div>



